.bloguera{
  border-top: solid $platinum 2px;
  padding-top: 3%;
  padding-bottom: 5%;
}

.bloguera__img{
  border-radius: 100px;
}

.bloguera__texto{
  padding-top: 4%;
}

.bloguera__texto__h2{
  padding-bottom: 6%;
}

.bloguera__texto__h3{
  padding-bottom: 3%;
}

.bloguera__texto__p{
  line-height: 170%;
}
